form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  /* margin-left: auto;
  margin-right: auto; */
  gap: 15px;
}
label {
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  min-height: 24px;
  max-height: 25px;
}
button {
  color: #ffff00;
  background-color: #0099ff;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.load-more {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-bottom: 30px;
  /* justify-content: center; */
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 1300px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.photo-link {
  display: block;
  width: calc((100% - 60px) / 4);
  text-decoration: none;
  color: #303030;
  border: 1px solid #909090;
  border-radius: 3px;
}

/* .photo-card {
  height: auto;
} */

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  gap: 20px;
}

.info-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
}

.hidden {
  display: none;
}
